MONGO_URI = mongodb+srv://<...>.mongodb.net/?retryWrites=true&w=majority&appName=<...>

JWT_SECRET = <...>

NODE_ENV=development

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=<...>
EMAIL_USER=<...>
EMAIL_PASS=<...>
EMAIL_FROM=<...>
EMAIL_TO=<...>


# Cloudinary ------------------

CLOUDINARY_CLOUD_NAME=<...>
CLOUDINARY_API_KEY=<...>
CLOUDINARY_API_SECRET=<...>